@import "tailwindcss";

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;
    display: block;
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
  }

  #root {
    margin: 0;
    padding: 0;
  }
}
